html {
    height: 100%;
}

body {
    background-color: #000;
    color: #999;
    height: 100%;
    position: relative;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    transition: margin-top 0.3s;
}

#canvas {
    display: block;
    width: 640px;
    height: 480px;
    margin: 0 auto;
}

.links {
    margin: 10px 0;
    text-align: center;
    a {
        color: #999;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.moreInfo {
    visibility: hidden;
    float: right;
}
.toolsVisible .moreInfo {
    visibility: visible;
}
.toggle {
    margin: 0 100px;
}


#tools {
    margin: 0 auto;
    width: 640px;
    display: none
}

.toolsVisible #tools {
    display: block;
}

@media (min-height: 648px) {
    #container {
        margin-top: -260px;
        top: 50%;
        &.toolsVisible {
            margin-top: -324px;
        }
    }
}
@media (min-width: 640px) {
    #container {
        margin-left: -320px;
        left: 50%;
    }
}

#palette {
    width: 128px;
    float: right;
}

.pal_color {
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    float: left;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

#controls {

    .row {
        padding-top: 1rem;
    }

    .col {
        display: inline-block;
    }

    .span1 {
        width: 8rem;
    }
    .span2 {
        width: 16rem;
    }
    .span3 {
        width: 24rem;
    }
    .span4 {
        width: 32rem;
    }
}
