
// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button, button {
    background-color: #ccc;
    border: none;
    border-radius: .4rem;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    height: 2.8rem;
    letter-spacing: .1rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
    text-align: center;
    text-decoration: none;
    // text-transform: uppercase;
    white-space: nowrap;

    &.active,
    &:hover {
        background-color: #999;
    }
    &:focus {
        outline: 0;
    }
}

.button-group {

    button {
        border-radius: 0;
        border-right: 1px solid #999;

        &:first-child {
            border-top-left-radius: .4rem;
            border-bottom-left-radius: .4rem;
        }
        &:last-child {
            border-top-right-radius: .4rem;
            border-bottom-right-radius: .4rem;
            border-right: 0;
        }
    }
}
