
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

@color-initial: #fff;
@color-primary: #999;
@color-secondary: #333;      // basic text color
@color-tertiary: #f4f5f6;
@color-quaternary: #d1d1d1;
@color-quinary: #e1e1e1;
