
// Form
// ––––––––––––––––––––––––––––––––––––––––––––––––––

input[type='text'],
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; // Removes awkward default styles on some inputs for iOS

    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: .4rem;
    box-shadow: none;
    box-sizing: inherit; // Forced to replace inherit values of the normalize.css
    height: 2.8rem;
    padding: .3rem 1.0rem; // The .6rem vertically centers text on FF, ignored by Webkit
    width: 100%;

    &:focus {
        border-color: @color-primary;
        outline: 0;
    }
}

#controls {
}

select {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2214%22%20viewBox%3D%220%200%2029%2014%22%20width%3D%2229%22%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M9.37727%203.625l5.08154%206.93523L19.54036%203.625%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 3.0rem;
}

label {
    // display: block;
    font-size: 1.3rem;
    font-weight: 600;
    // margin-bottom: .5rem;
}
input + label {
    margin-left: 0.5rem;
}

fieldset {
    border-width: 0;
    padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
    display: inline;
}

.label-inline {
    display: inline-block;
    font-weight: normal;
    margin-left: .5rem;
}
